html {
    box-sizing: border-box;
    height: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: $text-color;

    &:visited {
        color: $text-color;
    }

    &:hover {
        color: lighten($text-color, 40%);
    }

}

.logo a {
    color: $white;
}

h1 {
    margin-bottom: 40px;
}

h2 {
    margin-bottom: 10px;
}

img {
    max-width: 100%;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100%;
}
